.back-button-bar {
    width: 100%;
    background-color: #1e1e1e; /* Stesso colore dello sfondo */
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.back-button {
    color: white;
    font-size: 16px;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}

